body {
    background-color: black;
    color: #fff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.App {
    max-width: 520px;
    margin: 0 auto;
    padding: 1rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 50%));
  }  